h1 {
  font-family: 'Taviraj', serif;
  color: indigo;
}

h2 {
  color: gray;
}

.book {
  background-color: #249acc;
  margin-bottom: 12px;
  padding: 10px;
}
.bookInput{
  width: 130px;
}

#title{
  width: 400px;
}
